.heroSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 90%;
}

.heroContainer {
  display: flex;
  flex-direction: column;
}

.subContainer {
  position: relative;
  width: 100%;
  height: 25vh;
  margin: 2rem 0;
  background-color: var(--lime);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}

.subContainer::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("~/public/images/noise.png");
  opacity: 25%;
}

@media (min-width: $widescreen) {
  .heroSection {
    height: min(90vh, 75vw);
    width: 100%;
    margin-top: 5vh;
  }

  .heroContainer {
    height: 25vw;
    width: fit-content;
    margin: 0 auto;
    flex-direction: row-reverse;
    gap: 5vw;
  }

  .subContainer {
    flex-direction: row;
  }
}