.name {
  width: fit-content;
  
  & > * {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 0.2rem;
    margin: -1.5vw 0;
  }

  button {
    height: 4rem;
    border-radius: 2rem;
    padding: 0.25rem;
    transition: 0.1s ease-in-out;
  }

  button:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }

  svg {
    fill: var(--black);
    height: 100%;
  }

  .lightButton,
  .starButton {
    box-sizing: border-box;
    width: 4rem;
    border: none;
    border-radius: 50%;
    background-color: var(--lime);
  }

  .starButton {
    margin-left: 1vw;
  }

  .gameButton {
    margin-left: 1rem;
    width: 40%;
    background-color: var(--cosmic);
  }

  .reactButton {
    width: 100%;
    background-color: var(--lime);
    margin-right: 1vw;
  }
}

@keyframes button-pop-out {
  0% {
    box-shadow: none;
    transform: translate();
  }
  50% {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  99% {
    box-shadow: none;
    transform: translate();
  }
}

@media (min-width: $widescreen) {
  .name {
    h1 {
      font-size: 9vw;
    }

    button {
      height: 7.5vw;
      border-radius: 3.75vw;
    }

    .lightButton,
    .starButton {
      width: 7.5vw;
    }

    .starButton {
      margin-left: 1vw;
      padding: 1rem;
    }
  }
}
