.starAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  aspect-ratio: 1/1;
  max-width: 20rem;
  margin: 3rem auto 1rem auto;

  .rays {
    height: 85%;
    fill: var(--lime);
  }

  .starBig {
    height: 75%;
    position: absolute;
    z-index: 2;
    fill: var(--black);
    opacity: 80%;
  }

  .starSmall {
    height: 50%;
    transform: rotate(45deg);
    position: absolute;
    z-index: 2;
    fill: var(--black);
  }
}

@media (min-width: $widescreen) {
  .starAnimation {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    max-width: 40%;
    margin: 0;
  }
}
