.subHeader {
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  width: min-content;
  margin-bottom: 1rem;
  z-index: 1;

  h2 {
    flex: 1 0 1;
    z-index: 1;
    position: relative;
    width: 100%;
    font-size: 3rem;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    white-space: nowrap;
    color: var(--black);
  }

  h2::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--orange);
    height: 60%;
    left: 1rem;
    top: 30%;
    animation: scroll-in-right 1s ease-in forwards;
  }

  span {
    display: inline-flex;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: var(--cosmic);
    color: var(--white);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .title {
    display: inline-flex;
    height: 2rem;
    flex: 1;
    border: 2px solid var(--black);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: "DotGothic16", sans-serif;
  }
}

@media (min-width: $widescreen) {
  .subHeader {
    margin-right: 15%;

    h2 {
      font-size: max(4vw, 2rem);
    }

    span {
      font-size: 2vw;
      height: min(4rem, 6vw);
      width: min(4rem, 6vw);
    }

    .title {
      height: min(4rem, 6vw);
      font-size: 1.5vw;
      border-radius: 2rem;
    }
  }
}

@keyframes scroll-in-right {
  0% {
    width: 20%;
  }
  100% {
    width: 95%;
  }
}
