.projects {
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;
  width: 100%;
  max-width: 72rem;
}

@media (min-width: $widescreen) {
  .projects {
    padding: 0 2rem;

    h3 {
      margin: 0 auto;
    }
  }
}
