.stars {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  height: 40%;
  pointer-events: none;

  svg {
    position: absolute;
    fill: var(--white);
    z-index: 1;
    transform: scale(0);
    animation: sparkle 2s infinite ease-in-out forwards;
  }

  svg:nth-child(1) {
    top: 78%;
    left: 8%;
    height: 30px;
    animation-delay: -0.8s;

  }

  svg:nth-child(2) {
    top: 70%;
    left: 3%;
    height: 15px;
    animation-delay: -0.2s;
    
  }

  svg:nth-child(3) {
    top: 12%;
    left: 12%;
    height: 22px;
    animation-delay: 0s;
    
  }

  svg:nth-child(4) {
    top: 12%;
    left: 7%;
    height: 10px;
    animation-delay: -1.2s;
  }

  svg:nth-child(5) {
    top: 60%;
    right: 5%;
    height: 30px;
    animation-delay: -0.1s;

  }

  svg:nth-child(6) {
    top: 80%;
    right: 12%;
    height: 25px;
    animation-delay: -0.3s;
  }

  svg:nth-child(7) {
    top: 22%;
    right: 10%;
    height: 15px;
    animation-delay: -1.1s;
  }
}

@media (min-width: $widescreen) {
  .stars {
    max-width: 900px;
    height: 32vw;
    max-height: 400px;
    top: 50px;
  
    svg:nth-child(1) {
      height: 45px;
    }
  
    svg:nth-child(2) {
      height: 25px;
    }
  
    svg:nth-child(3) {
      height: 42px;
    }
  
    svg:nth-child(4) {
      height: 20px;
    }
  
    svg:nth-child(5) {
      height: 40px;
    }
  
    svg:nth-child(6) {
      height: 35px;
    }
  
    svg:nth-child(7) {
      height: 30px;
    }
  }
}