.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 1.2rem;
    fill: white;
    animation: spin 1s infinite;
  }

  @keyframes spin {
    0% {
      rotate: 0deg;
    } 100% {
      rotate: 180deg;
    }
  }
}