.name {
  position: relative;
  $button-radius: 3.5rem;

  & > * {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 4rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 0.2rem;
    margin: -1.5vw 0;
    font-weight: 500;
  }

  .firstName {
    color: transparent;
    background-image: radial-gradient(#ffc130, #f4d9a4, #ffffff);
    background-size: 150% 250%;
    animation: gradient 5s ease infinite;
    background-clip: text;
  }

  button {
    height: $button-radius;
    border-radius: 2rem;
    padding: 0.25rem;
    transition: 0.1s ease-in-out;
  }

  button:hover {
    box-shadow: 0.3rem 0.3rem 0 rgb(255, 255, 255);
    transform: translate(-0.3rem, -0.3rem);
  }

  svg {
    fill: var(--black);
    height: max(60%, 1.8rem);
  }

  .lightButton,
  .starButton {
    box-sizing: border-box;
    width: $button-radius;
    border: none;
    border-radius: 50%;
    background-color: $lime;
  }

  .lightButton {
    padding: 0.5rem;
  }

  .starButton {
    margin-left: 1vw;
  }

  .gameButton {
    margin-left: 1rem;
    width: 40%;
    background-color: var(--cosmic);
  }

  .reactButton {
    width: 100%;
    background-color: var(--lime);
    margin-right: 1vw;
  }
}

@media (min-width: $widescreen) {
  .name {
    & > div {
      margin-bottom: 0.5rem;
    }

    h1 {
      font-size: min(12vw, 8rem);
    }

    button {
      height: min(9vw, 6rem);
      border-radius: 100rem;
    }

    .lightButton,
    .starButton {
      width: min(9vw, 6rem);
    }

    .lightButton {
      padding: min(1.5rem, 2vw);
    }

    .gameButton {
      font-size: 7rem;
      color: white;
    }
  }
}

////////// Animations

@keyframes button-pop-out {
  0% {
    box-shadow: none;
    transform: translate();
  }
  50% {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  99% {
    box-shadow: none;
    transform: translate();
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}