@use "../../styles/variables.scss" as *;

.heroSection {
  width: 100%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 0;

  .staticBg {
    animation: fade-in 1s ease both;
    scale: 2;
    translate: 30% 40%;
  }
}

@media (min-width: $widescreen) {
  .heroSection {
    height: min(90svh, 75vw);
    height: min(90vh, 75vw);
    width: 100%;

    .staticBg {
      animation: fade-in 1s ease both;
      scale: 1.2;
      translate: 0;
    }
  }
}
