.heroSection {
  width: 100%;
  height: 100vh;
  height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 0;
}

@media (min-width: $widescreen) {
  .heroSection {
    height: min(90svh, 75vw);
    height: min(90vh, 75vw);
    width: 100%;
  }
}