.heroSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  position: relative;
  z-index: 0;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   background-image: url("/images/bg.png");
  //   background-size: cover;
  //   animation: fade-in 1s ease-in 0.5s both;
  // }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   background-image: url("/images/noiseanim.gif");
  //   background-size: 8%;
  //   mix-blend-mode: overlay;
  // }
}

@media (min-width: $widescreen) {
  .heroSection {
    height: min(90svh, 75vw);
    height: min(90vh, 75vw);
    width: 100%;
    margin-top: 5vh;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  } 100% {
    opacity: 0.9;
  }
}