.titleContainer {
  margin: 0 auto;
  width: 100%;
  padding: 0 2.5rem;

  .star {
    position: absolute;
    left: 1rem;
    top: -1.6rem;
    height: 2rem;
    width: 2rem;
    animation: star-shine 1s;
    fill: $purple;
  }
}

@media (min-width: 600px) {
  .titleContainer {
    width: calc($max-width - 2rem);
    padding: 0 1.5rem;

    .star {
      left: 0rem;
      top: -1.5rem;
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}

@keyframes star-shine {
  0% {
    transform: rotate(0deg);
    scale: 0;
  }
  80% {
    transform: rotate(288deg);
    scale: 1.25;
  }
  100% {
    transform: rotate(360deg);
    scale: 1;
  }
}
