.skills {
  width: 102%;
  background-color: var(--black);
  margin: 1rem auto;
  left: -1%;

  border: 2px solid var(--cosmic);
  cursor: default;

  * {
    color: var(--white);
    font-family: "DotGothic16", sans-serif;
    margin: 0 1rem;
    font-size: 1rem;
    width: fit-content;
    white-space: nowrap;
    padding: 1rem 0;
  }

  sup {
    font-size: 0.7rem;
  }
}

@media (min-width: $widescreen) {
  .skills {
    margin: 0 auto 3rem auto;

    div {
      transition: 0.2s ease-in-out;
    }

    div:hover {
      color: var(--lime);
    }
  }
}
