$widescreen: 600px;

$max-width: 65rem;
$navbar-height: 2.5rem;
$border-radius: 12px;

$black: rgb(17, 17, 17);
$white: rgba(235, 235, 235);
$lime: rgba(178, 223, 0);
$cosmic: #6000fc;
$cosmic-light: rgb(143, 117, 255);
$yellow: rgb(247, 211, 127);
$purple: rgb(154, 0, 226);
$orange: rgb(255, 187, 0);

$purple-background: linear-gradient(150deg, #7401ef 0%, transparent 40%),
  linear-gradient(30deg, #621eef 0%, transparent 40%),
  radial-gradient(at 30% 100%, #5608e7 0%, transparent 20%),
  radial-gradient(at 45% 80%, #5608e7 0%, transparent 45%),
  linear-gradient(90deg, #6807e1 0%, #8728c4 70%);

  