$widescreen: 600px;

$max-width: 65rem;
$navbar-height: 2.5rem;
$border-radius: 12px;
$footer-height: 7rem;

$black: rgb(17, 17, 17);
$white: rgba(235, 235, 235);
$lime: rgba(178, 223, 0);
$cosmic: #6000fc;
$cosmic-light: rgb(143, 117, 255);
$gold: rgb(247, 211, 127);
$purple: rgb(154, 0, 226);
$orange: rgb(255, 187, 0);
$light-blue: rgb(195, 201, 255);
$magic: rgb(120, 133, 255);
$off-black: #1a130c;
$yellow: #e8f800;
$yellow: #dff800;

$purple-background: linear-gradient(150deg, #7401ef 0%, transparent 40%),
  linear-gradient(30deg, #621eef 0%, transparent 40%),
  radial-gradient(at 30% 100%, #5608e7 0%, transparent 20%),
  radial-gradient(at 45% 80%, #5608e7 0%, transparent 45%),
  linear-gradient(90deg, #6807e1 0%, #8728c4 70%);

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shining {
  0% {
    scale: 0;
    rotate: 0deg;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0;
    rotate: 180deg;
  }
}