$widescreen: 600px;

$max-width: 65rem;  
$navbar-height: 2.5rem;
$border-radius: 12px;

$black: rgb(17, 17, 17);
$white: rgba(235, 235, 235);
$lime: rgba(178, 223, 0);
$cosmic: #6000fc;
$cosmic-light: rgb(143, 117, 255);
$orange: rgb(255, 110, 27);
$yellow: rgb(247, 211, 127);
$purple: rgb(154, 0, 226);
$orange: rgb(255, 187, 0);