.skillsContainer {
  cursor: default;
  max-width: 1200px;
  display: flex;

  .skill {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-family: "DotGothic16", sans-serif;
    white-space: nowrap;
    padding: 1rem 0;
    border: 2px solid $lime;
    border-radius: 100rem;
  }

  sup {
    font-size: 0.7rem;
    color: var(--white);
    font-family: "DotGothic16", sans-serif;
    margin-right: 0.2rem;
  }
}

@media (min-width: $widescreen) {
  .skillsContainer {
  }
}
