.aboutSection {
  max-width: $max-width;
  margin-top: 3rem;
  padding: 0 2rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/images/noiseanim.gif");
    mix-blend-mode: soft-light;
    background-size: 10%;
    opacity: 0.2;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 135%;
    margin: 0 auto 2rem auto;
    text-align: justify;
    font-size: 1rem;
  }

  strong {
    font-weight: 400;
    background-color: var(--lime);
  }

  :nth-child(2) {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align-last: auto;
  }
}

@media (min-width: $widescreen) {
  .aboutSection {
    margin: 0 auto;

    h3 {
      margin-bottom: 2rem;
    }
    
    p {
      line-height: 1.5rem;
    }
    
    :nth-child(2) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}
