@mixin projects-alternating {
  @for $i from 1 through 3 {
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  background-color: var(--lime);
  border-radius: 3rem;
  gap: 1rem;
  position: relative;
  transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1);
  min-height: 20rem;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: auto;
    padding: 1rem;
    margin: auto;
    border-radius: 3rem;
    position: relative;
    z-index: 0;

    .thumbnail {
      height: 100%;
      border-radius: 2.5rem;
    }

    .border {
      position: absolute;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      z-index: -1;
      border-radius: 3rem;
      background-color: $black;
    }
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    overflow: hidden;
    min-height: 20rem;

    &::after {
      content: "";
      position: absolute;
      right: 2.5rem;
      top: 2.5rem;
      height: 2.5rem;
      width: 2.5rem;
      background-image: url("~public/svg/star.svg");
    }
  }

  .projectContainer {
    border: 3px solid var(--black);
    position: relative;
    border-radius: 2.5rem;
    padding: 2rem 1rem;

    h4 {
      margin-bottom: 1rem;
      color: var(--black);
    }

    p {
      color: var(--black);
      cursor: default;
    }

    span {
      display: inline-block;
      text-align: right;
      width: 100%;
      margin-top: 1rem;
    }

    .stack {
      font-style: italic;
      color: var(--black);
    }

    .links {
      display: flex;
      width: 100%;
      gap: 0.5rem;
      margin-top: 1rem;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      height: 2.25rem;
      padding: 0 1rem;
      border: 2px solid var(--black);
      border-radius: 1.125rem;
      flex-grow: 1;
      font-family: "Urbanist", sans-serif;
    }

    a:last-child {
      background-color: var(--black);
      color: var(--lime);
    }
  }

  ::-moz-selection {
    color: var(--cosmic-light);
    background: var(--black);
  }

  ::selection {
    color: var(--cosmic-light);
    background: var(--black);
  }
}

@media (min-width: ($widescreen + 100px)) {
  .project {
    @include projects-alternating;
    background-color: transparent;
    flex-direction: row;
    margin: 3rem auto 4rem;
    max-width: var(--max-width);
    width: 100%;

    .projectImages {
      flex: 2;
      height: auto;
    }

    .projectCard {
      flex: 3;
      min-height: 20rem;
      border-radius: 3rem;
      overflow: hidden;
      position: relative;
      background-size: 110%;
      transition: 1s ease-in-out;
      background-position: center;

      &:hover {
        background-size: 150%;
        background-position: right;
        animation: background-shift 3s ease-in-out infinite 1s;
      }

      // Star svg
      &::after {
        content: "";
        right: 3rem;
        top: 2.75rem;
        height: 3.5rem;
        width: 3.5rem;
      }
    }

    .projectContainer {
      height: 100%;
      padding: 2rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .lowerHalf {
        display: flex;
        margin-top: 0;
      }

      span {
        bottom: 2rem;
        text-align: left;
      }

      .links {
        flex-direction: column;
        bottom: 2rem;
        right: 3rem;
        flex-basis: 0;
      }

      a {
        margin-left: auto;
        font-size: 1.2rem;
        white-space: nowrap;
      }
    }
  }
}

@keyframes background-shift {
  0% {
    background-size: 150%;
    background-position: right;
  }
  50% {
    background-size: 150%;
    background-position: left;
  }
  100% {
    background-size: 150%;
    background-position: right;
  }
}
