@use "../../../styles/variables.scss" as *;

.heroSection {
  width: 100%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 0;

  .staticBg {
    transform: scaleX(2) scaleY(2) translateY(20%) translateX(-25%);
  }
}

@media (min-width: $widescreen) {
  .heroSection {
    min-height: 800px;

    .staticBg {
      transform: scaleX(1) scaleY(1) translateY(0%) translateX(0%);
    }
  }
}
