.footer {
  width: 100%;
  position: relative;
  z-index: 1;
  height: $footer-height;
  padding: 0.5rem 1rem;
  
  ::-moz-selection { /* Code for Firefox */
    color: var(--black);
    background: var(--lime);
  }
  
  ::selection {
    color: var(--black);
    background: var(--lime);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  li {
    color: $black;
    font-size: 0.8rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: 0.15s ease-in-out;
    font-weight: 500;
  }

  li:hover {
    color: $white;
  }

  span {
    display: block;
    text-align: right;
    color: $black;
    max-width: var(--max-width);
    font-size: 0.8rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@media (min-width: $widescreen) {
  .footer {
    padding: 2rem 1rem 1rem 1rem;
  
    ul {
      justify-content: center;
      gap: 3rem;
    }
  
    li {
      font-size: 0.9rem;
      text-decoration: underline;
    }
  
    span {
      margin: 0 auto;
    }
  }
}