.gradient {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -20%;
  left: -10%;
  z-index: -1;
  background: linear-gradient(180deg, rgb(44, 44, 44) 0%, rgb(17, 17, 17) 100%);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/images/noiseanim.gif");
    mix-blend-mode: soft-light;
    background-size: 10%;
    opacity: 0.2;
  }

  svg {
    position: absolute;
  }

  .blobs {
    position: absolute;
    top: -10%;
    right: -10%;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    filter: blur(4rem);
    
    .blob1 {
      right: 30%;
      height: 40%;
      fill: #A0B3F7;
    }
  
    .blob2 {
      right: 0;
      width: 60%;
      fill: #A99EEE;
      animation: blob-height 10s ease-in-out infinite;
    }
  }

  @keyframes blob-height {
    0% {
      transform: translateY(0) rotate(0deg);
      fill: #A99EEE;
    }
    50% {
      transform: translateY(5%) rotate(15deg);
      fill: #7e6ce4;
    }
    100% {
      transform: translateY(0) rotate(0deg);
      fill: #A99EEE;
    }
  }

  .lights {
    position: absolute;
    top: 0;
    height: 120%;
    width: 120%;
    filter: blur(8vw);
    mix-blend-mode: overlay;
    opacity: 0.9;

    .light1 {
      right: 20%;
      width: 40%;
      fill: #FF3D00;
    }

    .light2 {
      left: 15%;
      width: 40%;
      fill: #F0FF3F;

    }

    .light3 {
      right: 0;
      width: 60%;
      fill: #FACF60;
    }

    .light4 {
      left: 20%;
      width: 30%;
      fill: #FB9638;
    }

    .light5 {
      left: 0%;
      width: 35%;
      fill: #ADB3EE;
    }
  }

}